.header {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: darkcyan;
}

.cv-container {
  background-color: white;
}

.infoRow {
  display: flex;
  justify-items: space-around;
  gap: 1rem;
}

.school,
.job {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2.5rem;
}

.cv-section {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

div,
p {
  max-width: 100%;
  overflow-wrap: break-word;
}
