.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 2rem;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}
