.collapsed-form {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-top: 5px solid rgb(243, 244, 246);
  padding: 12px 14px 12px 24px;
  width: 100%;
  border-radius: 1rem;
}
.form-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}
